resource_group_name  = "deliveroo-terraform-state-rg"
storage_account_name = "foodflowtfstateazvm"
container_name       = "tfstate"
key                  = "foodflow/bootstrap.tfstate"
subscription_id      = "62ba8360-faa6-46d7-8b60-d064ac85fdf6"
use_azuread_auth     = true
use_cli              = true