resource_group_name  = "deliveroo-terraform-state-rg"
storage_account_name = "foodflowtfstateazvm"
container_name       = "tfstate"
key                  = "foodflow/development.tfstate"
subscription_id      = "00000000-0000-0000-0000-000000000000"
use_azuread_auth     = true
use_cli              = true
